# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cache files
.cache

# Environments
.env
.venv

# Agent Stuff
plan.md
AGENTS.md

# Installer logs
pip-log.txt
pip-delete-this-directory.txt